layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane
    pane command="htop" 
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
